{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Charte de protection des données personnelles{% endblock %}

{% block body %}
<h1 class="text-center mt-4 pt-4 display-1 fw-bold titre"> Charte de protection des données personnelles </h1>

<div class="w-75 ms-5 my-5 ">
    <p>
        Minerva s'engage à protéger vos données personnelles et à protéger votre vie privée.
        Cette charte décrit la manière dont nous collectons, utilisons, stockons et protégeons vos données personnelles
        lorsque vous utilisez notre site internet.
    </p>

    <ol>
        <li>
            <h4> Collecte et utilisation de données personnelles </h4>
            <p> Nous collectons des informations personnelles que lorsque vous créez un compte,
                effectuez une commande en ligne ou nous contactez via notre formulaire de contact. Les informations
                collectées
                peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone et vos
                préférences bancaires.
            </p>
        </li>
    </ol>
    <p> Nous utilisons ces informations afin de traiter vote commande ou répondre à vos questions. Nous pouvons
        également
        utiliser vos informations pour vous informer des évènements à venir, des offres promotionnelles ou des nouvelles
        arrivées de notre librairie.
    </p>

    <ol start="2">
        <li>
            <h4> Stockage et protection des données personnelles</h4>
            <p> Vos données personnelles sont stockées sur des serveurs sécurisés et des mesures techniques et
                organisationnelles appropriées sont
                continuellement prises afin de protéger vos données contre la perte, l'utilisation abusive, l'accès non
                autorisé ou la divulagtion.
            </p>
        </li>
    </ol>
    <p> Nous ne transmettons pas vos données personnelles à des tiers dans la mesure du nécessaire afin de traiter votre
        commande
        ou si nous sommes tenus de le faire par la loi.
    </p>

    <ol start="3">
        <li>
            <h4> Droits des utilisateurs</h4>
            <p> Vous avez le droit d'accéder à vos données personnelles, de les rectifier et de les supprimer ou de
                limiter
                leur traitement. Vous pouvez également vous opposer au traitement de vos données personnelles à des fins
                de marketing
                direct. Pour exercer ces droits veuillez nous contacter via notre formulaire de contact.
            </p>
        </li>
        <li>
            <h4> Cookies </h4>
            <p>Nous utilisons des cookies sur notre site internet pour améliorer votre expérience utilisateur et pour
                collecter
                des données statistiques sur l'utilisation de notre site. Les cookies sont de petits fichiers stockés
                sur votre ordinateur
                ou votre appareil mobile lorsque vous visitez notre site. Vous pouvez à tout moment désactiver les
                cookies dans les
                paramètres de votre navigateur.
            </p>
        </li>
        <li>
            <h4>Modification de la charte</h4>
            <p>Nous nous réservons le droit de modifier cette charte à tout moment. Les modificationsprendront effet dès
                leurs publications sur notre site internet.
            </p>
        </li>
    </ol>

    <p> Si vous avez des questions concernant notre charte de protection des données personnelles,
        n'hésitez pas à nous contacter via notre formulaire de contact.
    </p>

</div>

{% endblock %}